In [2]:
from scipy.stats import chi2_contingency
import pandas as pd
import numpy as np

importance of chi_square
1-shows how ti sets are independant of each other. 
2-shows how different the real data from the expexted output. 
3-test homogenity : deterimines if two or more population have the same distibution of a single categorical variable.

In [4]:
tshirts = pd.DataFrame(
    [
        [48,22,33,47],
        [35,36,42,27]
    ],
    index=["Male","Female"],
    columns=["Balck","White","Red","Blue"])
tshirts

        Balck  White  Red  Blue
Male       48     22   33    47
Female     35     36   42    27

In [5]:
chi2_contingency(tshirts)
#returns four values, ùúí2 value, p-value, degree of freedom and expected values.

(11.56978992417547,
 0.00901202511379703,
 3,
 array([[42.93103448, 30.        , 38.79310345, 38.27586207],
        [40.06896552, 28.        , 36.20689655, 35.72413793]]))

In [6]:
df=chi2_contingency(tshirts)[3]
pd.DataFrame(
    data=df[:,:], 
    index=["Male","Female"],
    columns=["Black","White","Red","Blue"]
).round(2)

        Black  White    Red   Blue
Male    42.93   30.0  38.79  38.28
Female  40.07   28.0  36.21  35.72

The above table is called a contingency table.
You calculate the expected values from the observed data using the following equation.

ecxpected value=(total row * total column)/grand total 

for example :
            expected value of tshirts(black, male )= (150*83)/290
p(male)=(150/290)
expexted value =p(male)*total of black shirts

In [7]:
chisquare=chi2_contingency(tshirts)[0]
chisquare

11.56978992417547

__p-value measures the probability of seeing the effect when the null hypothesis is true.__

In [8]:
pvalue=chi2_contingency(tshirts)[1]
pvalue

0.00901202511379703

__degree of freedom =(number of rows-1)*(number of coulmns-1)

In [9]:
dof=chi2_contingency(tshirts)[2]
dof

3